@import "tailwindcss";

:root {
    --background: rgb(29,40,41);
    --foreground: white;
    --font-sans: var(--font-arimo), Arial, sans-serif;
    --col-1: rgba(143,143,143,0.2);
    --col-2: rgba(102,102,102,0.5);
    --col-3: #00ffd437;
    --col-4: rgb(133,133,133);
    --col-5: rgb(255,255,255);
    --col-6: #00ffd4;
    --col-7: #ff4800;
    --col-8: rgba(255,255,255,0.1);
    --col-9: rgba(0,0,0,0.14);
    --col-10: rgba(0,0,0,0.7);
    --col-11: #c2c2c2;
    --col-12: #1e1e1e;
    --col-13: #2d2d2d;
    --col-14: #333;
    --col-15: rgba(124,233,230,0.1);
}

html {
  scroll-behavior: smooth;
}

body {
  background: -moz-linear-gradient(90deg, rgba(29,40,41,1) 0%, rgba(24,30,31,1) 11%, rgba(19,19,20,1) 41%, rgba(19,19,20,1) 58%, rgba(24,30,31,1) 85%, rgba(29,40,41,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(29,40,41,1) 0%, rgba(24,30,31,1) 11%, rgba(19,19,20,1) 41%, rgba(19,19,20,1) 58%, rgba(24,30,31,1) 85%, rgba(29,40,41,1) 100%);
  background: linear-gradient(90deg, rgba(29,40,41,1) 0%, rgba(24,30,31,1) 11%, rgba(19,19,20,1) 41%, rgba(19,19,20,1) 58%, rgba(24,30,31,1) 85%, rgba(29,40,41,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1d2829",endColorstr="#1d2829",GradientType=1);
}

.skills {
  background: var(--col-12);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.skills:hover {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.skills::before {
  content: "";
  border-radius: inherit;
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle at var(--x) var(--y),
    rgba(0, 255, 212, 0.3),
    transparent 40%
  );
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
}

.skills:hover::before {
  opacity: 1;
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.floating-nav {
  background: rgba(0,0,0,0.4);
  backdrop-filter: blur(12px);
  border-bottom: 0.5px solid white;
}

@keyframes bounce-custom {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
}

.animate-bounce-custom {
  animation: bounce-custom 1.5s infinite ease-in-out;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
  }
}